extends layout

block content

    form(method='POST' action='')
        h2.text-center= title
        hr

        .form-group
            label(for='name') Name:
            input#name.form-control(type='text' name='name' required='true' value!=((category) ? category.name : ''))
        .form-group
            label(for='description') Description:
            input#description.form-control(type='text' name='description' value!=((category) ? category.description : ''))
        .text-center
            button.btn.btn-primary(type='submit') Submit
        
    if errors 
        ul
            for error in errors
                li!= error.msg
