extends layout

block content
    h2 Categories:

    .container-fluid
    .d-flex.flex-wrap
        each category in category_list
            div.card.text-center(style='width: 12rem; height: 3rem; margin: 0.5rem;') 
                a.card-header(href=category.url) !{category.name}
        
        else
            li There are no categories