extends layout

block content
    h1 Items:

    .container-fluid
        .d-flex.flex-wrap
            each item in item_list
                div.card.text-center(style='width: 12rem; margin: 0.5rem;') 
                    a.card-header(href=item.url) !{item.name}
                    if item.filename
                        div
                            img(src=item.imageurl alt='item image' style='padding: 0.3rem;')

            else
                div There are no items