doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4
      a.mr-md-auto.logo(href='/') 
        h3.my-o.mr-md-auto.i Grocery Inventory

      nav.my-2.my-md-0.mr-md-3
        if user
          a.p-2(href='/users/membership') Admin Page
          a.p-2(href='/users/logout') Log Out
        else
          a.p-2(href='/users/login') Log In  
          a.p-2(href='/users/signup') Register

    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/inventory') Home
              li
                a(href='/inventory/categories') All categories
              li
                a(href='/inventory/items') All items
              hr
              li 
                a(href='/inventory/category/create') Add category
              li 
                a(href='/inventory/item/create') Add item
        
        div(class='col-sm-10')
          block content