* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(238, 238, 238);
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

a {
  color: #00B7FF;
}

img {
  height: 100px;
  width: 100px;
}

.i {
  font-style: italic;
}

.container {
  margin: 0 auto;
  width: 450px;
}


/* Header */
.page-header {
  background: linear-gradient(rgba(174, 204, 186, 0.377), rgba(175, 197, 189, 0.404));
  padding: 1em;
  margin-bottom: 0.5em;
  box-shadow: 0 0 5px 0 #888;
}

/* Form */
form {
  width: 450px;
  margin: 0 auto;
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.836);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}